[submodule "niking2d/vendor/spdlog"]
	path = niking2d/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Niking2D/vendor/GLFW"]
	path = Niking2D/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Niking2d/vendor/glm"]
	path = Niking2d/vendor/glm
	url = https://github.com/g-truc/glm
